body {
	background: image-url("bg_designubec.png") no-repeat center center fixed;
	background-size: cover;
}

.site-header {
	@include make-row();
}

.site-title {
	@include make-lg-column(8);
}

.site-description {
	
}



.wrapper, .page-header {
  	@include make-row();
}

.logo {
	@include make-lg-column(8);
	img {
		display: inline-block;
	}
	small {
		color: $white;
	}
}

.social-links {
	
}


