body {
	background: image-url("bg_designubec.png") no-repeat center center fixed;
	background-size: cover;
}

.site-branding {
	@include clearfix();
	border-bottom: 2px solid $white;
}

.site-title {
	img {
		display: inline-block;
	}
}

.social-links {
	margin-top: 60px;
	> li {
		display: inline-block;
		padding: 0 $padding-small-horizontal;
	}
}

.navbar {
	border-radius: 0;
}

.navbar-default {
	background: none;
	border: none;
	border-bottom: 2px solid $white;
	border-radius: 0;
	a {
		font-size: $font-size-large;
		font-weight: bold;
	}
}


